In [2]:
import pandas as pd
data = pd.read_csv("chipotle.tsv", sep="\t")

In [3]:
data.head(7)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69

In [10]:
canned_soda_data = data[ data.item_name == "Canned Soda"]
print(canned_soda_data.shape[0])
canned_soda_data

104

      order_id  quantity    item_name choice_description item_price
18           9         2  Canned Soda           [Sprite]     $2.18
28          14         1  Canned Soda       [Dr. Pepper]     $1.09
51          23         2  Canned Soda     [Mountain Dew]     $2.18
53          24         1  Canned Soda           [Sprite]     $1.09
107         47         1  Canned Soda       [Dr. Pepper]     $1.09
117         51         1  Canned Soda  [Diet Dr. Pepper]     $1.09
126         55         1  Canned Soda        [Coca Cola]     $1.09
162         73         2  Canned Soda        [Diet Coke]     $2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]     $2.18
179         81         1  Canned Soda        [Coca Cola]     $1.09
180         81         1  Canned Soda       [Dr. Pepper]     $1.09
195         87         1  Canned Soda        [Coca Cola]     $1.09
200         89         1  Canned Soda        [Diet Coke]     $1.09
228        100         1  Canned Soda     [Mountain Dew]     $1.09
246        108         1  Canned Soda     [Mountain Dew]     $1.09
247        108         1  Canned Soda       [Dr. Pepper]     $1.09
248        108         1  Canned Soda     [Mountain Dew]     $1.09
251        109         1  Canned Soda  [Diet Dr. Pepper]     $1.09
261        113         1  Canned Soda     [Mountain Dew]     $1.09
280        122         1  Canned Soda        [Coca Cola]     $1.09
317        138         1  Canned Soda        [Diet Coke]     $1.09
350        150         2  Canned Soda        [Diet Coke]     $2.18
352        151         2  Canned Soda        [Coca Cola]     $2.18
370        160         1  Canned Soda        [Diet Coke]     $1.09
378        164         1  Canned Soda     [Mountain Dew]     $1.09
414        180         1  Canned Soda       [Dr. Pepper]     $1.09
434        188         1  Canned Soda        [Coca Cola]     $1.09
438        190         1  Canned Soda       [Dr. Pepper]     $1.09
473        202         1  Canned Soda  [Diet Dr. Pepper]     $1.09
622        256         1  Canned Soda       [Dr. Pepper]     $1.09
...        ...       ...          ...                ...        ...
2906      1156         2  Canned Soda           [Sprite]     $2.18
2961      1177         1  Canned Soda           [Sprite]     $1.09
3006      1195         1  Canned Soda        [Coca Cola]     $1.09
3020      1201         1  Canned Soda  [Diet Dr. Pepper]     $1.09
3062      1220         1  Canned Soda       [Dr. Pepper]     $1.09
3145      1254         1  Canned Soda  [Diet Dr. Pepper]     $1.09
3152      1258         2  Canned Soda       [Dr. Pepper]     $2.18
3162      1262         1  Canned Soda        [Coca Cola]     $1.09
3221      1288         1  Canned Soda     [Mountain Dew]     $1.09
3254      1303         1  Canned Soda           [Sprite]     $1.09
3364      1349         2  Canned Soda        [Coca Cola]     $2.18
3434      1379         1  Canned Soda           [Sprite]     $1.09
3476      1396         1  Canned Soda        [Coca Cola]     $1.09
3477      1396         1  Canned Soda       [Dr. Pepper]     $1.09
3498      1405         1  Canned Soda  [Diet Dr. Pepper]     $1.09
3575      1434         1  Canned Soda       [Dr. Pepper]     $1.09
3576      1434         1  Canned Soda        [Coca Cola]     $1.09
3592      1440         2  Canned Soda        [Diet Coke]     $2.18
3683      1475         1  Canned Soda        [Coca Cola]     $1.09
3715      1484         1  Canned Soda       [Dr. Pepper]     $1.09
3716      1484         1  Canned Soda       [Dr. Pepper]     $1.09
3718      1485         1  Canned Soda  [Diet Dr. Pepper]     $1.09
3740      1494         1  Canned Soda           [Sprite]     $1.09
3793      1518         1  Canned Soda        [Diet Coke]     $1.09
3866      1550         2  Canned Soda     [Mountain Dew]     $2.18
3897      1562         1  Canned Soda     [Mountain Dew]     $1.09
3926      1575         1  Canned Soda       [Dr. Pepper]     $1.09
3936      1578         1  Canned Soda  [Diet Dr. Pepper]     $1.09
4008      1604         1  Canned Soda        [Diet Coke]     $1.09
4051      1621         1  Canned Soda           [Sprite]     $1.09

[104 rows x 5 columns]

In [18]:
types_of_soda = []
for i in range( canned_soda_data.shape[0]):
    types_of_i =  canned_soda_data.iloc[i]["choice_description"]
    
    if types_of_i not in types_of_soda:
        types_of_soda.append(types_of_i)
types_of_soda

['[Sprite]',
 '[Dr. Pepper]',
 '[Mountain Dew]',
 '[Diet Dr. Pepper]',
 '[Coca Cola]',
 '[Diet Coke]']

In [21]:
types_of_soda = {}
for i in range( canned_soda_data.shape[0]):
    types_of_i =  canned_soda_data.iloc[i]["choice_description"]
    
    if types_of_i not in types_of_soda:
        types_of_soda[types_of_i] = 1
    else:
        types_of_soda[types_of_i] = types_of_soda[types_of_i] + 1
types_of_soda

{'[Sprite]': 17,
 '[Dr. Pepper]': 18,
 '[Mountain Dew]': 15,
 '[Diet Dr. Pepper]': 13,
 '[Coca Cola]': 26,
 '[Diet Coke]': 15}

In [24]:
canned_soda_data["choice_description"].unique()

array(['[Sprite]', '[Dr. Pepper]', '[Mountain Dew]', '[Diet Dr. Pepper]',
       '[Coca Cola]', '[Diet Coke]'], dtype=object)

In [25]:
canned_soda_data["choice_description"].value_counts()

[Coca Cola]          26
[Dr. Pepper]         18
[Sprite]             17
[Mountain Dew]       15
[Diet Coke]          15
[Diet Dr. Pepper]    13
Name: choice_description, dtype: int64

In [4]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [34]:
items = data["item_name"]
data_5 = data.iloc[5]

print(type(items), type(data) )

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

In [35]:
data.at[4,"item_price"]

16.98

In [55]:
data.at[4,"item_price"] = "$16.98"

In [56]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [57]:
rows = data.shape[0]
for i in range(rows):
    price_str = data.at[i, "item_price"]
    if type(price_str) == str:
        price_str = price_str[1:]
    
        print(price_str)

16.98

In [58]:
rows = data.shape[0]
for i in range(rows):
    price_str = data.at[i, "item_price"]
    if type(price_str) == str:
        price_str = price_str[1:]
        price = float(price_str)
    
        print(price, type(price))

16.98 <class 'float'>

In [72]:
rows = data.shape[0]
for i in range(rows):
    price_str = data.at[i, "item_price"]
    if type(price_str) == str:
        price_str = price_str[1:]
        price = float(price_str)
    
        data.at[i, "item_price"] = price
data["item_price"] = data["item_price"].astype(float)

In [73]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [74]:
total_earned = data["item_price"].sum()
print("total amount earned:",total_earned)

total amount earned: 34500.16

In [75]:
data["item_price"].mean()

7.464335785374297

In [76]:
canned_soda_data = data[ data.item_name == "Canned Soda"]
canned_soda_data["item_price"].sum()

137.34

In [77]:
average_item_price = data["item_price"].mean()

In [68]:
above_average_data = data[ data.item_price > average_item_price]
print("no of times items were ordered above average price : ")
print(above_average_data.shape[0])

no of times items were ordered above average price :
2890

In [67]:
below_average_data = data[ data.item_price < average_item_price]
print("no of times items were ordered below average price : ")
print(below_average_data.shape[0])

no of times items were ordered below average price :
1732

In [81]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [80]:
item_frequency = data["item_name"].value_counts()
item_frequency

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Veggie Salad                               6
Burrito                                    6
Carnitas Salad Bowl                        6
Steak Salad                                4
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Name: item_name, dtype: int64